.servicesBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.online {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.online span {
  font-weight: 300;
  font-size: 32px;
}

.servicesBanner_text h1 {
  margin: 2rem 0;
}
.servicesBanner_text ul {
  max-width: 508px;
}
.servicesBanner_text ul li h3 {
  font-weight: 300;
  font-size: 1.125rem;
}
.servicesBanner_text a {
  display: inline-block;
  margin-top: 1.5rem;
  background-color: var(--neon-blue);
  color: var(--white);
  font-weight: 300;
  font-size: 1.5rem;
  padding: 12px 56px;
  border-radius: 50px;
}
