.carrousel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.carrousel_slider_container {
    display: flex;
    width: 100%;
    max-width: 998px;
    overflow: hidden;
}

.carrousel_slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
.carrousel_button{
    display: block;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.carrousel_dots{
    position: absolute;
    bottom: -20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.carrousel_dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.carrousel_dot.active {
    background-color: #333;
}