---

---

<form>
    <span>¿Querés obtener más información?</span>
    <ul>
        <li>
            <label for="name">Nombre*</label>
            <input type="text" id="name" />
        </li>
        <li>
            <label for="cel">Teléfono*</label>
            <input type="text" id="cel" />
        </li>
        <li>
            <label for="email">Email*</label>
            <input type="text" id="email" />
        </li>
        <li>
            <label for="message">Mensaje*</label>
            <textarea name="message" id="message"></textarea>
        </li>
        <li>
            <input type="checkbox" id="checkbox" />
            <label for="checkbox">Aceptar términos y condiciones</label>
        </li>
    </ul>

    <button type="submit">Enviar</button>
</form>


<style></style>