.icon_card img{
    width: 120px;
    height: 130px;
    object-fit: contain;
    padding: 20px;
}

.icon_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    max-height: 300px;
    min-height: 300px;
}

.icon_card .card-title {
    font-size: 24px;
}


.icon_card  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}