.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  max-width: 620px;
}
.form button {
  background-color: var(--neon-blue);
  width: 100%;
  border-radius: 100px;
  border: none;
  color: var(--white);
  height: 77px;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.154);
  transition: all 0.3s ease-in-out;
}
.form button:hover {
  box-shadow: -4px 4px 36px rgba(0, 0, 0, 0.323);
}
