.homeSocial_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.homeSocial_container img {
    max-width: 600px;
    width: 100%;
}
.homeSocial_container_text {
    max-width: 600px;
}
.homeSocial_container h4 {
    font-size: 24px;
    text-transform: uppercase;
}
.homeSocial_container h2 {
    font-size: 50px;
}
.homeSocial_container p {
    font-size: 32px;
}

.homeSocial_icons_container {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    
}

.homeSocial_icons_container li {
    margin-right: 20px;
}

.homeSocial_icons_container li a {
    height: max-content;
    width: max-content;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #73A3F0;
}
.homeSocial_icons_container li a svg {
    height: 25px;
    width: 25px;
}
.homeSocial_icons_container li a svg path{
    fill: var(--white);
}

@media screen and (max-width:700px) {
   .homeSocial_container_text {
            text-align: center;
            margin-top: 50px;
    }

    .homeSocial_icons_container {
        justify-content: center;
    }
}